# TypeScript
*.tsbuildinfo

*/src/scripts/generateFolderDetailsCSV.ts
*/src/database/scripts/import_csv_to_upload_details.ts
*/src/database/scripts/import_csv_to_tape_info.ts
*/csv
*/setup_env.sh
*/node_modules
*.log
*/.env
*.env
*/.env.docker
*.env.docker
*/uploadfiles

*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Logs
*/logs
*/*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*
*/lerna-debug.log*
node_modules
*/dist
*/dist-ssr
*/*.local
*/.env.docker
*/# Editor directories and files
*/.vscode/*
*/!.vscode/extensions.json
*/.idea
*/.DS_Store
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln
*/*.sw?
*/.env
*/vite.config.d.ts
*/nginx.conf
*/docker-compose.yml
*/*/.DS_Store
.DS_Store
# IP Address Allocation
*/IP-Address-Allocation.csv
*/*.csv