services:
  mysql:
    image: mysql:latest
    ports:
    - "3306:3306"
    environment:
      MYSQL_DATABASE: user_management_system
      MYSQL_ROOT_PASSWORD: admin@123
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - tapex-network
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "admin@123"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a","admin@123",ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - tapex-network

volumes:
  mysql_data:
  redis_data:

networks:
  tapex-network:
    driver: bridge
